@model shopdotnet.Models.CityViewModel

<div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show"></div>
<input type="hidden" asp-for="City_ID" />
<input type="hidden" asp-for="StateId" />
<input type="hidden" asp-for="StateName" />

<div class="form-group mt-4">
    <label asp-for="City_Name" class="control-label">Municipio:</label>
    <input asp-for="City_Name" class="form-control" />
    <span asp-validation-for="City_Name" class="text-danger"></span>
</div>
<div class="form-group mt-4 d-flex justify-content-between">
    <a asp-action="DetailsState" asp-route-id="@Model.StateId" class="btn btn-outline-default"><i class="fa-solid fa-ban"></i> Cancelar</a>
    <button type="submit" value="Save" class="btn btn-success"><i class="fa-regular fa-floppy-disk"></i> Guardar</button>
</div>