@model shopdotnet.Data.Entities.Country

@{
    ViewData["Title"] = "Details";
}


<a asp-action="Index" class="btn btn-outline-default"><i class="fa-solid fa-arrow-left"></i> Atras</a> |
<hr />

<div class="container">

    <div class="row">
        <div class="card border-primary anchoForm">


            <div class="card-body">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <h2>País: @Model.Country_Name</h2>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="form-group mt-4 d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-outline-default"><i class="fa-solid fa-ban"></i> Cancelar</a>
                    <div>
                        <a asp-action="AddState" asp-route-id="@Model?.Country_ID" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Agregar Departamento</a>
                        <a asp-action="Edit" asp-route-id="@Model?.Country_ID" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i> Editar</a>
                        <a asp-action="Delete" asp-route-id="@Model?.Country_ID" class="btn btn-danger"><i class="fa-solid fa-delete-left"></i> Borrar</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr />

    <partial name="_StatesList" />


    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script type="text/javascript">
        $(document).ready(function () {
            $('#TablaDepartamentos').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-MX.json"
                },
                "aLengthMenu": [
                    [5, 25, 50, 100, 200, -1],
                    [5, 25, 50, 100, 200, "Todos"]
                ]
            })
        })
        </script>
    }
</div>

