@model shopdotnet.Data.Entities.Category

@{
    ViewData["Title"] = "Delete";
}

<a asp-action="Index" class="btn btn-outline-default"><i class="fa-solid fa-arrow-left"></i> Atras</a> |

<div class="container">
    <hr />
    <div class="card" style="width: 60%;margin:0 auto;">
        <div class="card-body">
            <h2 class="text-center">Confirme eliminar la Categoria: <span class="text-danger">@Model.Category_Name</span> ?</h2>
            <form asp-action="Delete">
                <div class="form-group mt-4 d-flex justify-content-between">
                    <input type="hidden" asp-for="Category_ID" />
                    <a asp-action="Index" class="btn btn-outline-default"><i class="fa-solid fa-ban"></i> Cancelar</a>
                    <button type="submit" value="Borrar" class="btn btn-danger"><i class="fa-solid fa-delete-left"></i> Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
